In [1]:
!pip install finance-datareader

Requirement already satisfied: finance-datareader in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (0.9.96)
Requirement already satisfied: beautifulsoup4 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (4.12.3)
Requirement already satisfied: lxml in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (5.3.0)
Requirement already satisfied: pandas>=1.1.0 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (2.2.3)
Requirement already satisfied: plotly in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (5.24.1)
Requirement already satisfied: requests-file in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (2.1.0)
Requirement already satisfied: requests>=2.3.0 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (2.32.3)
Requirement already satisfied: tqdm in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from finance-datareader) (4.67.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from pandas>=1.1.0->finance-datareader) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from pandas>=1.1.0->finance-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from pandas>=1.1.0->finance-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from pandas>=1.1.0->finance-datareader) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.1.0->finance-datareader) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from requests>=2.3.0->finance-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from requests>=2.3.0->finance-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from requests>=2.3.0->finance-datareader) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from requests>=2.3.0->finance-datareader) (2025.8.3)
Requirement already satisfied: soupsieve>1.2 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from beautifulsoup4->finance-datareader) (2.5)
Requirement already satisfied: tenacity>=6.2.0 in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from plotly->finance-datareader) (9.0.0)
Requirement already satisfied: packaging in /Users/stigma/miniconda3/envs/py313/lib/python3.13/site-packages (from plotly->finance-datareader) (24.2)

In [4]:
import FinanceDataReader as fdr

price_df = fdr.DataReader('005930')

price_df

              Open    High     Low   Close    Volume    Change
Date
2013-08-13   24880   25800   24840   25800    418589       NaN
2013-08-14   25780   26000   25700   26000    260102  0.007752
2013-08-16   25720   26020   25640   25900    228332 -0.003846
2013-08-19   25720   25920   25600   25720    129997 -0.006950
2013-08-20   25920   26100   25380   25380    284619 -0.013219
...            ...     ...     ...     ...       ...       ...
2025-10-30  102400  105800  102000  104100  34570017  0.035821
2025-10-31  105000  108600  103300  107500  54824564  0.032661
2025-11-03  106900  111500  106500  111100  30110066  0.033488
2025-11-04  111800  112400  104900  104900  30450281 -0.055806
2025-11-05  101000  102000   96700  100600  44829894 -0.040991

[3000 rows x 6 columns]